/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 1rem;
}

.item-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mealImg {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}


.mealDetails {
  max-width: 700px;
  text-align: justify;
  padding: 0 1rem;
}

.items {
  margin: 0.5rem 0;
  text-align: center;
}

.item-space {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 0.5rem;
}

.msg {
  text-align: center;
  font-size: 1rem;
  color: #888;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === Responsive Layout === */
@media (min-width: 1000px) {
  .form{
    flex-direction: row;
  }
  .recipeDetails {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }

  .mealImg {
    flex: 1;
    max-width: 300px;
  }

  .mealDetails {
    flex: 2;
  }

  .items {
    text-align: left;
  }
}
